In [1]:
# contoh if tunggal 1
angka= int(input('masukan angka ='))
if (angka<9):
    print(f'nilai {angka} lebih kecil dari 9')
print('Bye....Bye.....!')

masukan angka =21
Bye....Bye.....!

In [2]:
# contoh if tunggal 2 (menggunakan operator aritmatika)
if(angka%2==0):
    print(f'nilai {angka} adalah bilangan genap')
print(f'nilai {angka} adalah bilangan ganjil')

nilai 21 adalah bilangan ganjil

In [3]:
# contoh if else
z=13
x= int(input('masukan nilai X ='))
if (x==z):
    print(f'nilai {x} sama dengan {z}')
else:
    print(f'nilai {x} tidak sama dengan {z}')
print('Bye....Bye.....!')

masukan nilai X =21
nilai 21 tidak sama dengan 13
Bye....Bye.....!

In [4]:
# contoh if else
z=13
x= int(input('masukan nilai X ='))
if (x==z):
    print(f'nilai {x} sama dengan {z}')
else:
    print(f'nilai {x} tidak sama dengan {z}')
print('Bye....Bye.....!')

masukan nilai X =13
nilai 13 sama dengan 13
Bye....Bye.....!

In [5]:
x = int(input("\nmasukkan nilai mahasiswa = "))

if (x >= 80 and x <=100):
    print(f"Nilai Mahasiswa = {x} Kategori Grade A ")
elif (x>= 70):
    print(f"Nilai Mahasiswa = {x} Kategori Grade B ")
elif (x >= 50):
    print(f"Nilai Mahasiswa = {x} Kategori Grade C ")
elif (x >= 35):
    print(f"Nilai Mahasiswa = {x} Kategori Grade D ")
elif(x > 35 and x < 0):
    print(f"Nilai Mahasiswa = {x} Kategori Grade E ")
else:
    print(f"Nilai anda masukan tidak sesuai ")
print("\nterima kasih")

masukkan nilai mahasiswa = 80
Nilai Mahasiswa = 80 Kategori Grade A

terima kasih

In [6]:
x = int(input("\nmasukkan nilai mahasiswa = "))

if (x >= 80 and x <=100):
    print(f"Nilai Mahasiswa = {x} Kategori Grade A ")
elif (x>= 70):
    print(f"Nilai Mahasiswa = {x} Kategori Grade B ")
elif (x >= 50):
    print(f"Nilai Mahasiswa = {x} Kategori Grade C ")
elif (x >= 35):
    print(f"Nilai Mahasiswa = {x} Kategori Grade D ")
elif(x > 35 and x < 0):
    print(f"Nilai Mahasiswa = {x} Kategori Grade E ")
else:
    print(f"Nilai anda masukan tidak sesuai ")
print("\nterima kasih")

masukkan nilai mahasiswa = 30
Nilai anda masukan tidak sesuai

terima kasih

In [7]:
#contoh if bersarang
x=int(input('masukan angka ='))
if (x>=10):
    if (x%2==0):
        print(f'angka {x} adalah bilangan puluhan dan juga bilangan genap')
    else:
        print(f'angka {x} adalah bilangan puluhan dan juga bilangan ganjil')
else:
    if (x%2==0):
        print(f'angka {x} adalah bilangan satuan dan juga bilangan genap')
    else:
        print(f'angka {x} adalah bilangan satuan dan juga bilangan ganjil')
print('BYE......BYE.....!')

masukan angka =20
angka 20 adalah bilangan puluhan dan juga bilangan genap
BYE......BYE.....!

In [8]:
#contoh if bersarang
x=int(input('masukan angka ='))
if (x>=1000):
    if (x%2==0):
        print(f'angka {x} adalah bilangan puluhan dan juga bilangan genap')
    else:
        print(f'angka {x} adalah bilangan puluhan dan juga bilangan ganjil')
else:
    if (x%2==0):
        print(f'angka {x} adalah bilangan satuan dan juga bilangan genap')
    else:
        print(f'angka {x} adalah bilangan satuan dan juga bilangan ganjil')
else:
    if (x%2==0):
        print(f'angka {x} adalah bilangan ratusan dan juga bilangan genap')
    else:
        print(f'angka {x} adalah bilangan ratusan dan juga bilangan ganjil')
print('BYE......BYE.....!')

SyntaxError: invalid syntax (4055578133.py, line 13)

In [9]:
#contoh if bersarang
x=int(input('masukan angka ='))
if (x>=1000):
    if (x%2==0):
        print(f'angka {x} adalah bilangan puluhan dan juga bilangan genap')
    else:
        print(f'angka {x} adalah bilangan puluhan dan juga bilangan ganjil')
else:
    if (x%2==0):
        print(f'angka {x} adalah bilangan satuan dan juga bilangan genap')
    else:
        print(f'angka {x} adalah bilangan satuan dan juga bilangan ganjil')
if:
    if (x%2==0):
        print(f'angka {x} adalah bilangan ratusan dan juga bilangan genap')
    else:
        print(f'angka {x} adalah bilangan ratusan dan juga bilangan ganjil')
print('BYE......BYE.....!')

SyntaxError: invalid syntax (3215895040.py, line 13)

In [10]:
#contoh if bersarang
x=int(input('masukan angka ='))
if (x>=1000):
    if (x%2==0):
        print(f'angka {x} adalah bilangan puluhan dan juga bilangan genap')
    else:
        print(f'angka {x} adalah bilangan puluhan dan juga bilangan ganjil')
else:
    if (x%2==0):
        print(f'angka {x} adalah bilangan satuan dan juga bilangan genap')
    else:
        print(f'angka {x} adalah bilangan satuan dan juga bilangan ganjil')
    if (x%2==0):
        print(f'angka {x} adalah bilangan ratusan dan juga bilangan genap')
    else:
        print(f'angka {x} adalah bilangan ratusan dan juga bilangan ganjil')
print('BYE......BYE.....!')

masukan angka =900
angka 900 adalah bilangan satuan dan juga bilangan genap
angka 900 adalah bilangan ratusan dan juga bilangan genap
BYE......BYE.....!

In [11]:
# Contoh perulangan WHile
a=10
i=1
n_awal=0
while(i<=a):
    print(f"{i} lebih kecil dari sama dengan {a}")
    n_while=n_awal+i
    i=i+1
else:print(f"pengulangan terjadi sebanyak {n_while} kali")

1 lebih kecil dari sama dengan 10
2 lebih kecil dari sama dengan 10
3 lebih kecil dari sama dengan 10
4 lebih kecil dari sama dengan 10
5 lebih kecil dari sama dengan 10
6 lebih kecil dari sama dengan 10
7 lebih kecil dari sama dengan 10
8 lebih kecil dari sama dengan 10
9 lebih kecil dari sama dengan 10
10 lebih kecil dari sama dengan 10
pengulangan terjadi sebanyak 10 kali

In [12]:
# Contoh perulangan WHile
sisi=int(input("\nmasukan nilai sisi ="))
print('\n')
x=sisi
jumlah=1
while (jumlah <= sisi):
        print(" " * jumlah,str(jumlah)*x)
        x -=1
        jumlah +=1
print("\nkeluar dari looping")

masukan nilai sisi =20


  11111111111111111111
   2222222222222222222
    333333333333333333
     44444444444444444
      5555555555555555
       666666666666666
        77777777777777
         8888888888888
          999999999999
           1010101010101010101010
            11111111111111111111
             121212121212121212
              1313131313131313
               14141414141414
                151515151515
                 1616161616
                  17171717
                   181818
                    1919
                     20

keluar dari looping

In [13]:
# contoh perulangan For
print("\nNama-Nama Malaikat")
list1=["Jibril","Mikail","Izroil","Isrofil","Munkar",
   "Nakir","Rokib","Atid","Malik","Ridwan"]
for i in list1:
    print(i)

Nama-Nama Malaikat
Jibril
Mikail
Izroil
Isrofil
Munkar
Nakir
Rokib
Atid
Malik
Ridwan

In [14]:
# contoh perulangan For
tuple1=(1,2,3,4,5)
print(type(tuple1))
count = 1
for i in tuple1:
    print (str(i) * i)
print('BYE......BYE')

<class 'tuple'>
1
22
333
4444
55555
BYE......BYE

In [15]:
# contoh perulangan For
nama=('andi','kaka','nana','dimas','lala')
nilai=(40,60,60,70,90)
grade=('D','C','C','B','A')
print('\n MENCETAK NILAI DIATAS 60')
for Nama,Nilai,Grade in zip(nama,nilai,grade):
    if Nilai >60:
        print (Nama,Nilai,Grade)

 MENCETAK NILAI DIATAS 60
dimas 70 B
lala 90 A

In [16]:
kelipatan=5
for i in range(4):
    print(kelipatan*(i+1))
else:
    print('keluar dari looping')

5
10
15
20
keluar dari looping

In [17]:
print(18*"#"+" PARAMETER STAR "+18*"#")
for i in range(6):
     print(f"perulangan ke {i}")

################## PARAMETER STAR ##################
perulangan ke 0
perulangan ke 1
perulangan ke 2
perulangan ke 3
perulangan ke 4
perulangan ke 5

In [18]:
print(18*"#"+" PARAMETER STOP "+18*"#")
for i in range(1, 4):
     print(f"perulangan ke {i}")

################## PARAMETER STOP ##################
perulangan ke 1
perulangan ke 2
perulangan ke 3

In [19]:
print(18*"#"+" PARAMETER STEP "+18*"#")
for i in range(1, 10, 4):
     print(f"perulangan ke {i}")

################## PARAMETER STEP ##################
perulangan ke 1
perulangan ke 5
perulangan ke 9

In [20]:
# contoh perulangan For dengan fungsi Range pada List
print("\nNama-Nama Malaikat")
list1=["Jibril","Mikail","Izroil","Isrofil","Munkar",
   "Nakir","Rokib","Atid","Malik","Ridwan"]
for i in list1[0:10:2]:
    print(i)
print('selesai (^__^) ')

Nama-Nama Malaikat
Jibril
Izroil
Munkar
Rokib
Malik
selesai (^__^)

In [21]:
# contoh perulangan For dengan fungsi Range pada tuple
for i in range(1,10):
    print (str(i) * (i))

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [22]:
# contoh perulangan (while) dengan fungsi break
a=int(input("Masukkan nilai a:"))

i=1
n_awal=0
while(i<=a):
    print(f"{i} lebih kecil dari atau sama dengan {a}")
    n_while=n_awal+i
    i=i+1
    if i==4:
        break
    print("belajar looping dengan while")
print(f"pengulangan terjadi sebanyak {n_while} kali")

Masukkan nilai a:20
1 lebih kecil dari atau sama dengan 20
belajar looping dengan while
2 lebih kecil dari atau sama dengan 20
belajar looping dengan while
3 lebih kecil dari atau sama dengan 20
pengulangan terjadi sebanyak 3 kali

In [23]:
# contoh perulangan (for) dengan fungsi break
for perulangan in 'Python': 
    if perulangan == 'h':
        break
    print ('karakter saat ini :', perulangan)
print('keluar darinlooping dengan fungsi BREAK')

karakter saat ini : P
karakter saat ini : y
karakter saat ini : t
keluar darinlooping dengan fungsi BREAK

In [24]:
# Contoh perulangan WHile
sisi=int(input("\nmasukan nilai sisi ="))
print('\n')
jumlah=1
spasi=(sisi/2)
space=int(spasi)
while True:
    if(jumlah%2):
        print(" " * space,"#"*jumlah)
        space -= 1
        jumlah +=1
    else:
        jumlah +=1
        continue
    if jumlah > sisi:
        break
print("\nkeluar dari looping")

masukan nilai sisi =20


           #
          ###
         #####
        #######
       #########
      ###########
     #############
    ###############
   #################
  ###################
 #####################

keluar dari looping

In [25]:
# contoh perulangan (for) dengan fungsi continue
for perulangan in 'Python': 
    if perulangan == 'h':
        continue
    print ('karakter saat ini :', perulangan)
print('keluar dari looping')

karakter saat ini : P
karakter saat ini : y
karakter saat ini : t
karakter saat ini : o
karakter saat ini : n
keluar dari looping

In [26]:
# contoh perulangan (for) dengan fungsi pass
for i in range(10): 
    if i%2==0:
        pass 
    else:
        print (i)
print('keluar dari looping')

1
3
5
7
9
keluar dari looping

In [27]:
# contoh perulangan (for) dengan fungsi pass
for i in range(10): 
    if i%2!=0:
        print (i)

1
3
5
7
9
keluar dari looping

In [33]:
depth = 6
for number in range(1, depth):
    for i in range(1, number + 1):
        print(i, end=' ')
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [43]:
depth = 6
for number in range(1, depth):
    for i in range(1, number +1):
        print(i, end='')
    for j in range(i =1):
        print(j, end='')
    print("")

1
120
12301
1234012
123450123

In [44]:
angka=[1,2,3,4,5,6,7]
print(len(angka))
print(sum(angka))
angka.append(9)
print(angka)
kapital="huruf besar"
print(kapital.upper())
print(kapital.lower())

7
28
[1, 2, 3, 4, 5, 6, 7, 9]
HURUF BESAR
huruf besar

In [45]:
# contoh fungsi void
def hello():
    print (f"selamat belajar python ")

In [46]:
hello()

selamat belajar python

In [47]:
# contoh fungsi fruitful 1
def hello(nama):
    cetak= "selamat belajar python "+ (nama)
    return cetak

In [48]:
jawab= hello("jajang")

In [49]:
jawab

'selamat belajar python jajang'

In [50]:
def penjumlahan(a,b):
    total=a+b
    print (f'hasil penjumlahan dari {a} + {b} = {total}')

In [51]:
penjumlahan(1,6)

hasil penjumlahan dari 1 + 6 = 7

In [52]:
# fungsi dengan argument default 1
def hello1(nama, pesan=" tetap semangat..!"):
    cetak= "selamat belajar python "+ (nama) + (pesan)
    return cetak

In [53]:
hello1('radit')

'selamat belajar python radit tetap semangat..!'

In [54]:
# fungsi dengan argument default 2
def penjumlahan1(a,b=5):
    total=a+b
    print (f'hasil penjumlahan dari {a} + {b} = {total}')

In [55]:
penjumlahan1(2)

hasil penjumlahan dari 2 + 5 = 7

In [56]:
# contoh fungsi global 1
def kali(x,y):
    x1=x*y
    return x1

In [57]:
c=kali(2,5)

In [58]:
c

10

In [59]:
# contoh fungsi global
def segitiga():
    jumlah=1
    spasi=(sisi/2)
    space=int(spasi)
    while True:
        if(jumlah%2):
            print(" " * space,"#"*jumlah)
            space -= 1
            jumlah +=1
        else:
            jumlah +=1
            continue
        if jumlah > sisi:
            break

In [60]:
# variabel sisi merupakan sebuah variabel global
sisi=int(input("\nmasukan nilai sisi ="))
segitiga()

masukan nilai sisi =40
                     #
                    ###
                   #####
                  #######
                 #########
                ###########
               #############
              ###############
             #################
            ###################
           #####################
          #######################
         #########################
        ###########################
       #############################
      ###############################
     #################################
    ###################################
   #####################################
  #######################################
 #########################################

In [65]:
def hitung(a):
    kali =a*5
    tambah=a+5
    bagi=tambah/2
    return kali,tambah,bagi

In [66]:
hitung(10)
print(kali)

<function kali at 0x000001BF151DC040>

In [67]:
hitung(10)

(50, 15, 7.5)

In [68]:
# contoh fungsi lambda 1
nilaiMaks=lambda a,b: a if a>b else b

In [69]:
nilaiMaks(35,20)

35

In [70]:
# bandingkan dengan fungsi ini
def n_Maks(a,b):
    if a>b:
        return a
    else:
        return b

In [71]:
n_Maks(35,20)

35

In [72]:
import pandas as pd
df=pd.DataFrame({
    'Nama':('andi','kaka','nana','dimas','lala'),
    'Nilai':(40,60,60,70,90)
})
df

    Nama  Nilai
0   andi     40
1   kaka     60
2   nana     60
3  dimas     70
4   lala     90